md-tabs(flex, md-border-bottom)
	md-tab(label='Home', ui-sref='home')
	
	md-tab(label='Articles', ui-sref='articles')
		//- md-content(layout-align='space-between center').md-padding
		//- 	h1.md-display-2 Articles made by MDO
		
	md-tab(label='Tutorials')
			
	md-tab(label='Projects')
			
	md-tab(label='Tools')
			
	md-tab(label='About', ui-sref='aboutUs')
