md-toolbar.md-tall
  .md-toolbar-tools
    div(flex)
      span ModernDev
      span.title-color .org
    div(flex).social-network
      a.facebook(href="http://www.facebook.com")
      a.twitter(href="http://www.twitter.com")
      a.google-plus(href="http://www.plus.google.com")
