md-toolbar
  .md-toolbar-tools
    div(flex)
      span ModernDev
      span.title-color .org

    div(flex).footerContent
      div(layout="row")
        div(layout="column" layout-align="space-around center" flex)
          a(href="#") Home

        div(layout="column" layout-align="space-around center" flex)
          a Contact Us
          a About Us
    div(flex).social-network
      a.facebook(href="http://www.facebook.com")
      a.twitter(href="http://www.twitter.com")
      a.google-plus(href="http://www.plus.google.com")
