doctype html
html(lang='en' data-ng-app='moderndev')
  head
    title moderndev
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body(layout-fill)
    blue-header(flex-order='1')

    div(data-ui-view, flex, flex-order='2')

    blue-footer(flex-order='3')
    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
