doctype html
html(lang='en' data-ng-app='moderndev')
  head
    title ModernDev.org
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body(layout-fill)
    mdo-header(flex-order='1')

    mdo-navbar(flex-order='2')
      
    div(data-ui-view, flex, flex-order='3')
  
    mdo-footer(flex-order='4')
    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
