.mdo-card-img-author {
  background-color: gray;
  height: 50px;
  width: 50px;
}

.mdo-card-img-header {
  background-color: gray;
  height: 100%;
  max-height: 130px;
}

.mdo-card-tag {
  background-color: #ffcc66;
  margin-right: 1%;
  max-height: 1%;
  height: 30px;
}

.mdo-card-header{
  background-color: gray;
  max-height: 130px;
}

.mdo-card-content {
  max-height: 54%;
}

.mdo-card-default {
  width: 100%;
  height: 100%;
}
